<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados por Trabajo </title>
</head>
<body>
    <h1>Lista de Empleados por Trabajo: {{job}}</h1>
    <!-- object_list retorna el contexto de la list view -->
    {% if object_list %}
      <ul>        
        {% for emp in object_list %}
          <li>{{ emp }} </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3>{{error}}</h3>
    {% endif %}
    
</body>
</html>